tr
{
    height: 30px;
}

tr.selected
{
    background-color: #ADD8E6;
}

td
{
    word-wrap: break-word;
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
}

form
{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

table
{
    table-layout:fixed;
}

#tabs .server
{
    width: 200px;
}

#tabs .url div
{
    width: 395px;
}

#tabs .edit
{
    width: 52px;
}

#tabs .username
{
    width: 240px;
    float: left;
}

#top #username
{
    float: left;
}

.userDialog td:first-child
{
    width:140px;
}

.userDialog input
{
    width:210px;
}

#login
{
    text-align: center;
}

#top
{
    display: block;
    height: 45px;
    width: 100%;
    margin-bottom: 16px;
}

#top .userName
{
    float: left;
}

#tabs
{
    display: block;
}

#searchForm
{
    float: right;
}

#top .right
{
    width: 50%;
    float: right;
}

#categories
{
    text-align:right;
}

div
{
    font-size:16px;
}

.button { float:left; display:inline-block; }